{% extends 'base.html' %}
{% block content %}
<h2 style="text-align: center;">Movies</h2>
<hr>
<div class="row">
    {% for movie in movies %}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="http://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" class="card-img-top" alt="{{movie.title}} poster">
                <div class="card-body">
                <h5 class="card-title">{{movie.title}}</h5>
                <p class="card-text">{{movie.overview}}</p>
                <hr>
                <h4>Average Score <span class="badge bg-secondary">{{movie.vote_average}}</span></h4>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}